.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 100%;

    padding: 50px;
}

.colunmFazer,
.colunmFazendo,
.colunmFeito {
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    height: 100%;
    min-height: 150px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}

.colunmFazer {
    background-color: #dbf0ff;
}


.colunmFazendo {
    background-color: #fbf0d8;

}

.colunmFeito {
    background-color: #e0ffe8;


}


.fazer {
    position: relative;
    text-align: left;
    color: #1a1a1a;
    font-size: 1rem;
    height: 100px;
    border-radius: 5px;
    background-color: #35a1f4;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 150px;
}

.fazendo {
    position: relative;
    text-align: left;
    color: #1a1a1a;
    font-size: 1rem;
    height: 100px;
    border-radius: 5px;
    background-color: #ffb001;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 150px;

}

.feito {
    position: relative;

    text-align: left;
    color: #1a1a1a;
    font-size: 1rem;
    height: 100px;
    border-radius: 5px;
    background-color: #43c466;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 150px;

}


.colunmFazer .textarea {
    resize: none;
    background-color: #66bdff;
    border-radius: 5px;
    padding: 5px;
}


.colunmFazendo .textarea {
    resize: none;
    background-color: #ffdb8d;
    border-radius: 5px;
    padding: 5px;
}

.colunmFeito .textarea {
    resize: none;
    background-color: #5ee682;
    border-radius: 5px;
    padding: 5px;
}



.textarea {
    outline: none;
    margin-top: 20px;
    width: 100%;
    height: 80px;
}

.textarea::-webkit-scrollbar {
    width: 5px;

}

.textarea::-webkit-scrollbar-track {
    background: none;

}

.textarea::-webkit-scrollbar-thumb {
    background-color: rgb(17, 69, 190);

    border-radius: 20px;

    border: 2px solid rgba(255, 255, 255, 0);

}


.container_addCards {
    margin: 0 auto;
}


.button_delete {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.button_delete:hover {
    opacity: 1;
    transition: 0.5s;
}

.button_delete svg {
    width: 25px;
    height: 25px;
}