.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 100%;

    padding: 50px;
}

.colunmFazer,
.colunmFazendo,
.colunmFeito {
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    height: 100%;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}

.colunmFazer {
    background-color: #dbf0ff;
}


.colunmFazendo {
    background-color: #fbf0d8;

}

.colunmFeito {
    background-color: #e0ffe8;


}


.fazer {
    text-align: left;
    color: #1a1a1a;
    font-size: 1rem;
    height: 100px;
    border-radius: 5px;
    background-color: #35a1f4;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fazendo {
    text-align: left;
    color: #1a1a1a;
    font-size: 1rem;
    height: 100px;
    border-radius: 5px;
    background-color: #ffb001;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.feito {
    text-align: left;
    color: #1a1a1a;
    font-size: 1rem;
    height: 100px;
    border-radius: 5px;
    background-color: #43c466;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}