.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #202020;
  }
  
  .form {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: transparent;
  }
  
  .form h2, .form p {
    text-align: center;
    margin-bottom: 20px;
    color: #e4d6d6;
  }
  
  .form h2 {
    font: 2em sans-serif;
  }
  
  .form p {
    font: 1.1em sans-serif;
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
    color: #e4d6d6;
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: transparent;
    color: #e4d6d6;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form button {
    font: 1.3em sans-serif;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #66cdaa;
    color: #fcfbfb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .error {
    color: red;
}
  .form button:hover {
    background-color: #4caf91;
  }
  
  @media screen and (min-width: 768px) {
    .form {
      width: 60%;
    }
  }
  